**__pycache__
**runs
**tests.ipynb
notes.txt
**outputs**
**wandb/
**imagenette_dataset/
**modelnet40_dataset/
tests_test_tiny_imagenet.py
tests**
**nohup.out
configs/train_config.yaml
configs/test_config.yaml
config/logger/**
