**__pycache__
**runs
**tests.ipynb
notes.txt
**outputs**
**wandb/
**imagenette_dataset/
**modelnet40_dataset/
tests_test_tiny_imagenet.py
tests**
**nohup.out

configs/test_config_personal.yaml
configs/train_config_personal.yaml
configs/logger/wandb_personal.yaml
